<h1 class="text-center">Eat Da Burger!</h1>
<br>
<br>
<div class="container">




    <h3 class="card-title text-center">Add A Burger</h3>
    <form class="create-form text-center">
        <div class="form-group">
            <input type="text" id="burger-name" name="name" placeholder="Burger Name" required>
            <button class="btn btn-sm btn-warning" type="submit">Submit</button>
        </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            <h2 class="ml-5 ">Burgers Ready To Eat</h2>
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>


        <div class="col-md-6">
            <h2 class="ml-5">Burgers You've Eaten</h2>
            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>



</div>