<li>
    {{#if devoured}}
    <button class="change-status btn btn-sm btn-warning" data-id="{{id}}" data-devoured="{{devoured}}">
        Devour it!
    </button>
    {{/if}}
    {{burger_name}}
</li>